/*
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto', sans-serif;
*/

body {font-family: 'Roboto Mono', monospace; font-size: 13px; background:#FEF8EB; color: #174375; letter-spacing: 0.1em; -webkit-font-smoothing: antialiased;}

.container {position: relative;}
.container.narrow {max-width: 900px;}

img {max-width: 100%;}

.clear {clear: both;}

.text-uppercase {text-transform: uppercase;}

a {outline: none !important; text-decoration: none !important; color: #B93A26; font-weight: 500;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}
a:hover {color: #B93A26}

.valign {display: flex; display: flex; align-items: center; justify-content: center; width: 100%;}
.valign-top {align-self: flex-start; }
.valign-bottom {align-self: flex-end;}

.hspacer {width: 30px; display: inline-block;}

.btn {outline: none; border-radius: 0; line-height: 45px; padding: 0 30px; letter-spacing: 1.5px; font-size: 12px; font-weight: 500; text-transform: uppercase;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

.btn-xs {padding: 0 !important; line-height: 30px;}

.btn-primary {background: #B93A26; border-color: #B93A26; color: #FEF8EB}
.btn-primary:hover {background: #9A1F0D; border-color: #9A1F0D;}
.btn-primary[disabled], .btn-primary[disabled]:hover {background: #B93A26; border-color: #B93A26; color: #FEF8EB}

.btn-blue {background: #1B4278; border-color: #1B4278; color: #FFF}
.btn-blue:hover {background: #1B4278; border-color: #1B4278; color: #FFF}
.btn-blue[disabled], .btn-blue[disabled]:hover {background: #1B4278; border-color: #1B4278; color: #FEF8EB}

.btn-secondary {background: transparent; border-color: #B93A26; color: #B93A26}
.btn-secondary:hover {background:#B93A26 ; border-color: #9A1F0D; color: #FEF8EB}

.btn-default {background: transparent; border: 1px solid transparent;}
.btn-default:hover {background: transparent; border-color: #9A1F0D; color: #9A1F0D}

.spacer15 {height: 15px; clear: both;}
.spacer30 {height: 30px; clear: both;}
.spacer60 {height: 60px; clear: both;}
.spacer90 {height: 90px; clear: both;}

.divider60 {height: 60px; clear: both; margin: 0 0 60px; border-bottom: 1px solid #b9874d;}
.divider30 {height: 30px; clear: both; margin: 0 0 30px; border-bottom: 1px solid #b9874d;}
.divider15 {height: 15px; clear: both; margin: 0 0 30px; border-bottom: 1px solid #b9874d;}

.no-left-padding {padding-left: 0}
.no-top-padding {padding-top: 0}
.no-right-padding {padding-right: 0}
.no-bottom-padding {padding-bottom: 0}



.user-create {}

.user-create .membership-selection {text-align: center;}
.user-create .membership-selection label {width: 31%; text-align: center; font-weight: normal; cursor: pointer; vertical-align: top; display: block; float: left;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.user-create .membership-selection label input {display: none}
.user-create .membership-selection label.checked {background: #174375; color: #FFF}
.user-create .membership-selection label .inside {border: 2px solid #174375; padding: 15px 20px 0; height: 190px; }
.user-create .membership-selection label.disabled {opacity: 0.5; pointer-events: none; cursor: auto}
.user-create .membership-selection label h3 {line-height: 19px !important;}
#user-membership_type label:nth-child(1) {margin-left: 0;}
#user-membership_type label:nth-child(2) {margin: 0 3.5%; }
#user-membership_type label:nth-child(3) {margin-right: 0;}

.user-create.revision .membership-selection label {width: 48%}
.user-create.revision .membership-selection label:nth-child(2) {width: 48%; float: right; margin: 0 !important;}

.user-create .submit-group .btn-primary {margin-bottom: 15px;}

.user-create .credit-card-form {display: none;}





#top {}
#top .container {}
#top a {padding: 5px 10px; display: inline-block; margin: 10px 0; line-height: 20px;}
#top .account {padding: 20px 0; display: inline-block; text-transform: uppercase;}
#top .border {border-bottom: 2px solid #174375;}

#header {}
#header .valign {height: 170px;}
#header .border-sides {border-left: 2px solid #174375; border-right: 2px solid #174375;}
#header .border {border-bottom: 1px solid #174375;}

#header .header-img-1 {width: 190px;}
#header .header-img-2 {width: 149px;}
#header #logo {width: 245px}

#nav {padding: 2px;}
#nav ul {padding: 0; margin: 0 0 2px; border-top: 2px solid #174375; border-bottom: 2px solid #174375; text-align: center;}
#nav ul li {padding: 0 2.5%; margin: 0; display: inline-block;}
#nav ul li a {display: block; line-height: 50px; text-transform: uppercase; font-weight: 500;}
#nav ul li a:hover {color: #174375}
#nav ul li.active a {color: #174375; text-decoration: underline !important;}
#nav .border {border-bottom: 1px solid #174375;}

#hero img {max-width: 100%;}

#footer {background: #1B4278; padding: 60px 0; color: #FFF; font-size: 11px; text-transform: uppercase; font-weight: 500; line-height: 17px;}
#footer ul {padding: 0; margin: 0;}
#footer li {list-style: none; margin-bottom: 8px;}
#footer a {color: #FFF}


#content > .container > .row {margin-left: -20px; margin-right: -20px;}
#content > .container > .row > div {padding-left: 20px; padding-right: 20px;}
#content h1 {text-transform: uppercase; font-size: 27px; line-height: 34px; margin: 0; padding: 0 0 20px;}
#content h2 {text-transform: uppercase; font-size: 24px; line-height: 36px; margin: 0; padding: 0 0 20px; }
#content h3 {text-transform: uppercase; font-size: 18px; line-height: 32px; margin: 0; padding: 0 0 20px; }
#content h3 small {color: inherit;}
#content .border {border-bottom: 2px solid #174375;}
#content .border.red {border-bottom: 2px solid #B93A26;}
#content h1.stamped {color: #174375; background: url(../images/stamp.svg) no-repeat center left; background-size: auto 100%; padding: 30px 0 30px 100px; margin-bottom: 30px; font-size: 34px; line-height: 44px;}
#content p {letter-spacing: 0.2px; line-height: 22px; margin-bottom: 30px; padding: 0;}
#content .times {font-size: 17px; text-transform: uppercase;}

#all-product-list {background: #174375; color: #FFF; padding: 30px; line-height: 24px;}
#all-product-list .border {border-bottom: 2px solid #FFF;}

#share-box-selection {}
#share-box-selection h2 {line-height: 24px}
#share-box-selection .pricing {font-size: 24px;}

.box {color: #174375; border: 1px solid #174375; display: block; padding: 2px;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}
.box .inner {padding: 20px 30px; display: block; border: 2px solid #174375;}
.box:hover {background: #F5F1E6;}
.box .spacer {height: 130px; display: block}
.box .upper {font-size: 17px; font-weight: 700;}
.box .upper small {font-size: 11px;}

#sidebar .date {background: #FFF; color: #B93A26; margin: 0 auto; display: inline-block; font-weight: 700; padding: 0 10px; line-height: 22px; margin: 0 0 25px;}
#sidebar h3 {margin-bottom: 15px; padding: 0;}
#sidebar #newsletter-signup .alert {display: none;}
#sidebar #product-list {background: #174375; color: #FFF; padding: 30px;}
#sidebar #product-list .border {border-color: #FFF;}
#sidebar #product-list input {border: 2px solid #FFF; border-radius: 0; background: transparent; margin-bottom: 15px;}
#sidebar #product-list label {text-transform: uppercase; font-size: 11px;}
#sidebar #product-list input[type="submit"] {border: none; color: #FFF; text-align: left; padding: 0; text-transform: uppercase; font-size: 11px; font-weight: 700; letter-spacing: 2px; margin-bottom: 0;}

.weekly-product-list {padding: 0 0 40px; margin: 0; }
.weekly-product-list li {list-style-type: none; font-size: 15px; margin-bottom: 5px; color: #FFF;}

#account .weekly-product-list {text-align: center; column-count: 4}

#account .date {background: #174375; color: #FFF; margin: 0 auto; display: inline-block; font-weight: 700; padding: 0 10px; line-height: 22px; margin: 0 auto 25px;}
#account .weekly-product-list li {color: #174375}



#content input {border: 2px solid #174375; border-radius: 0; background: transparent; margin-bottom: 15px;}
#content label {text-transform: uppercase; font-size: 11px;}
#content input[type="submit"] {border: none; color: #174375; text-align: left; padding: 0; text-transform: uppercase; font-size: 11px; font-weight: 700; letter-spacing: 2px; margin-bottom: 0; box-shadow: none;}
#content textarea {border: 2px solid #174375; border-radius: 0; background: transparent; margin-bottom: 15px; display: block; width: 100%; height: 150px;}
#content select {border: 2px solid #174375; border-radius: 0 !important; background: transparent; -webkit-appearance: none;}

#pickup-time-options p {margin: 0;}

#account .container {max-width: 900px;}
#account .membership-type {color: #FFF; background: #174375; display: block;line-height: 40px; padding: 0 30px; margin-top: 0; text-transform: uppercase; margin: 0; text-align: center;}
#account h4 {margin: 0 auto; padding: 0 0 10px; line-height: 20px;}
#account h4 span {font-size: 11px; text-transform: uppercase; padding-left: 20px; color: #5cb85c}
#account .btn.disabled {color: #777; border-color: #777;}
/*#account .add-ons label {line-height: 20px;}*/
/*#account .add-ons label {border-bottom: 1px dashed #DDD9CD;}*/
#account #content h3 {color: #174375 !important}

#account #add-ons {padding: 30px 0 }
#account #add-ons input {width: 40px; height: 30px; line-height: 30px; text-align: center; font-size: 16px; font-weight: 700; border: 2px solid #c0bbb7 !important; margin-bottom: 10px; display: inline-block;}
#account #add-ons label {font-size: 11px; letter-spacing: 0px; line-height: 30px; display: inline-block;}
#account #add-ons .item {clear: both; white-space: nowrap;}
#account #add-ons #items {column-count: 2}
#account #add-ons #items strong {color: #9a1f0d}
#account .btn-submit,
#account .btn-purchase {width: 250px;}

#account #categories {padding: 0 0 20px; margin: 0; border-bottom: 0; text-align: center !important;}
#account #categories li {list-style: none; width: auto; margin: 0 5px; padding: 0; text-transform: uppercase; font-size: 14px; letter-spacing: 0px; margin-bottom: 15px; display: inline-block; float: none}
#account #categories li a {border: 1px solid #9A1F0D; border-radius: 0;}
#account #categories li a:hover {color: #FFF; background:#B93A26}
#account #categories li.active a {background: #B93A26; color: #FFF; border: 1px solid #B93A26 !important;}

#pickup-selection .btn {position: relative;}
#pickup-selection .btn.active {background: #9A1F0D; color: #FFF}
#pickup-selection .btn i {font-size: 22px; position: absolute; bottom: 12px; left: 15px; color: #FFF; opacity: 0; }
#pickup-selection .btn.active i {opacity: 1;}
#pickup-selection .alert {display: none; margin: 0;}
#pickup-selection input[type="submit"] {text-align: center; border: 1px solid #174375; padding: 0 20px}
#pickup-selection input[type="submit"]:hover {background: #174375; color: #FFF}
#pickup-selection input[type="checkbox"] {border: 1px solid #174375; border-radius: 0; margin: 0 0 5px;}

#pickup-selection label {display: block; text-align: left;}

#pickup-selection .btn.btn-danger {border: 1px solid #B93A26; background: transparent; color: #B93A26; font-size: 11px; letter-spacing: 2px;}
#pickup-selection .modal-content {border-radius: 0px }
#pickup-selection .modal-content {background: #FEF8EB;}
#pickup-selection .charge-amount {border: none; width:100px; text-align: left; font-size: 24px; line-height: 15px; font-weight: 900; margin: 0; padding: 0; pointer-events: none;}
#pickup-selection .modal-content .save-cc label {line-height: 40px; text-align: left;}
#pickup-selection .modal-content .saved-cc {font-size: 25px;}
#pickup-selection .modal-content .remove-card {line-height: 40px; font-size: 11px; text-align: left; display: block; text-transform: uppercase; letter-spacing: 0.4px}
#pickup-selection .modal-content .saved-cc span {opacity: 0.8; font-size: 16px;}
#pickup-selection .description {font-family: 'Roboto Mono', monospace; font-size: 11px; letter-spacing: 0; color: #777}

.payment-errors {color: #B93A26;}

#store {padding: 15px 0 60px}
#store #content p {margin-bottom: 15px;}
#store .btn.btn-checkout i {font-size: 31px; position: relative; left: 0px; bottom: -5px;}
#store .btn.btn-checkout {position: relative; padding-left: 50px;}
#store .count {position: absolute; left: 17px; color: #9A1F0D !important; z-index: 10; top: 12px; line-height: 20px; font-size: 13px; font-weight: 900; background: #FFF; height: 20px; width: 20px; border-radius: 100px;}
#store .product-thumb {width: 100%; display: block; padding-top: 100%; background-size: cover; background-position: center center; border: 1px solid #b5c8e3;}
#store .title {height: 60px; letter-spacing: 0}
#store .product {margin-bottom: 60px}
#store .product input[type="text"] {border: 1px solid #B93A26; border-radius: 0; background: transparent; height: 32px; padding-left: 0; padding-right: 0; display: block; width: 100%; min-width: 30px; text-align: center;}
#store form label {color: #9b9187}
#store .tab-content h2 {text-transform: uppercase; text-align: center; margin: 0; padding: 0 0 15px;}

#store.cart {min-height: 50vh;}
#store.cart h1 {padding-top: 0; margin-top: 0;}
#store.cart .container {max-width: 900px;}
#store.cart .cart-item {border-top: 1px solid #1B4278; padding-top: 15px; padding-bottom: 15px; line-height: 45px;}
#store.cart .cart-item .product-thumb {height: 45px; padding: 0; }
#store.cart .cart-items {}
#store.cart .cart-items .cart-item .btn {margin-top: 7px;}
#store.cart .cart-items .cart-item:last-child {border-bottom: 1px solid #1B4278;}

#store #categories {padding:50px 0 0; margin: 0; border-bottom: 0;}
#store #categories li {list-style: none; margin: 0; padding: 0; text-transform: uppercase; font-size: 14px; letter-spacing: 0px; margin-bottom: 15px; display: block; width: 100%;}
#store #categories li a {display: block; background: #f7eadc;  padding: 15px 10px; border: 1px solid #e5ded7;}
#store #categories li a:hover {border:1px solid #c04d3b;}
#store #categories li.active a {background: #2e5985; color: #FFF; border: 1px solid #2e5985 !important;}

#store .panel {padding: 0 !important; margin-bottom: 10px; border: none;}
#store .panel-heading {padding: 0; border: none; box-shadow: none;}
#store .panel-body {padding: 0;}
#store .panel a {display: block; background: #f7eadc;  padding: 15px 10px; border: 1px solid #e5ded7;}

/*Editor Functions*/
.editable {position: relative;}
.edit, .edit-link {position: absolute; left: -17px; top:-17px; background: red; color: #FFF; display: inline-block; height: 15px; padding: 0 7px; line-height: 15px; text-align: center; z-index: 98; border-radius: 3px; font-size: 7px; font-weight: 700; text-transform: uppercase; font-family:Arial, sans-serif; letter-spacing: 1px; cursor: pointer;
	-webkit-box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.47);
	-moz-box-shadow:    4px 4px 12px 0px rgba(50, 50, 50, 0.47);
	box-shadow:         4px 4px 12px 0px rgba(50, 50, 50, 0.47);
}
.edit.corner, .edit-link.corner {left: auto; top: 20px; right: 20px;}
.edit-link.edit-image {font-weight: 700; font-size: 14px; padding: 5px; height: auto; position: absolute; bottom: 0; right: 10px; z-index: 5; left: auto; top: auto;}
.edit.lower {left: -10px; bottom: -10px; top: auto;}
.edit.static, .edit-link.static {position: static; top: auto; left: auto;}
.edit.right, .edit-link.right {top: 0; right: 20px; left: auto}
.edit.bottom, .edit-link.bottom {top: auto; bottom: 0; left: 0; right: auto}
.edit:hover, .edit-link:hover {color: #FFF}
.edit:focus, .edit-link:focus {color: #FFF !important}
.modal-open .modal {z-index: 99999;}
.redactor-init {display: none;}





