


@media only screen and (max-width:1200px) {


}


@media only screen and (max-width:992px) {
	

	#header img {width: 120px;}
	#header #logo {width: 170px;}

	#top a {padding-top: 10px; padding-bottom: 10px;}

	#content h1.stamped {padding: 20px 0 20px 70px; margin: 0 0 10px;}
	#content h1 {font-size: 18px; line-height: 23px; margin-bottom: 0px;}

	#share-box-selection .box .spacer {height: 30px;}
}


@media only screen and (max-width:767px) {

	body {min-width: 320px; position: relative;}
	
	#header {padding: 15px 0;}
	#header .valign {height: auto; padding:15px 0 25px;}
	#header .border-sides {border: none;}
	#header .border {border-width: 2px}
	#pickup-time-options {text-align: center;}
	#nav {display: none;}

	#hamburger {width: 40px; position: absolute; right: 15px; top: 0px; height: 38px; z-index: 9999; display: block; background: #174375;}
	#hamburger .top {height: 4px; background: #FFF; top: 8px; position: absolute; width: 70%; left: 15%;}
	#hamburger .middle {height: 4px; background: #FFF; top: 17px; position: absolute; width: 70%;left: 15%;}
	#hamburger .bottom {height: 4px; background: #FFF; top: 26px; position: absolute; width: 70%;left: 15%;}

	#slide-out {position:fixed; width: 60%; right:-60%; top: 0; background: #174375; height: 100%; z-index: 9999; overflow: scroll;  margin: 0; padding: 0;}
	#slide-out ul {background: transparent; top: auto; left: auto; position: relative; border-radius: 0; padding: 0; margin: 0; border-bottom: 1px solid #11355E;;}
	#slide-out ul li {display: block; line-height: 25px; border-bottom: 1px solid #1C59A4; border-top: 1px solid #11355E; float: none !important;}
	#slide-out ul li a {display: block; text-align: left; padding: 0 20px; color: #CCC; line-height: 44px; font-size: 15px;}
	#slide-out ul li .sub-menu {position: relative; width: auto; top: auto; box-shadow: 0;  background: #111; display: none; padding: 5px 0;}
	#slide-out ul li .sub-menu li {border-bottom: 0; border-top:0;}
	#slide-out ul li .sub-menu li a {padding: 0 0 0 30px; font-size: 14px; line-height: 30px;}
	#slide-out ul li .sub-menu li .sub-menu li a {padding: 0 0 0 50px}

	.user-create .membership-selection label {width: auto; float: none; height: auto; margin-bottom: 30px;}
	#user-membership_type label:nth-child(2) {margin: inherit; margin-bottom: 30px;}
	.user-create .membership-selection label .inside {height: auto}

	#content h1.stamped {background-size: auto; font-size: 27px; line-height: 38px; padding-left: 90px;}

	#footer {text-align: center; padding: 40px 0 20px;}
	#footer img {margin-bottom: 20px;}
	#footer .text-right {text-align: center;}

	#pickup-selection .btn {margin-bottom: 15px;}
	#account #categories li {margin: 0;}
	#account #categories li a {padding: 5px 5px;}
	#account #categories li.active a {margin-bottom: 0;}
	#account #add-ons {padding-top: 0;}
	#account .box {border: none;}
	#account .box .inner {padding: 0; border: none;}
	#account #add-ons #items {column-count: 1}
	#account #add-ons label {letter-spacing: 0;}
	#account #add-ons input {font-size: 12px; width: 40px; padding: 2px !important; margin-left: -10px}
}